<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="UTF-8">
    <title>Nuevo pedido</title>
    <meta name="description" content="Nuevo pedido">
</head>
<body>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header"><strong>Nuevo Pedido</strong></div>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col-7">
                        <label for="TipoPedido" class="form-control-label">Tipo de pedido:</label>
                        <select class="form-control" id="TipoPedido">
                            <option value="Material">Material</option>
                            <option value="Uniforme">Uniforme</option>
                        </select>
                    </div>
                    <div class="col-5">
                            <label for="CantidadPedido" class="form-control-label">Cantidad:</label>
                            <input type="number" class="form-control" id="CantidadPedido" placeholder="Número unidades">                                   
                    </div>
                    <div class="col-12">
                        <label for="Descripción de pedido" class="form-control-label">Descripción del pedido:</label>
                        <input type="text" class="form-control" id="DescripcionPedido" placeholder="Ingrese una breve descripción...">
                    </div>
                    <div class="col-6">
                        <label for="SolicitantePedido" class="form-control-label">Solicitó:</label>
                        <input type="text" class="form-control" name="SolicitantePedido" id="SolicitantePedido" placeholder="Escriba el nombre del solicitante">
                    </div>
                    <div class="col-6">
                        <label for="RegitroPedido" class="form-control-label">Registrado por:</label>
                        <select name="RegistroPedido" id="RegistroPedido" class="form-control">
                            <option value="Empleado1">Empleado1</option>
                            <option value="Empleado2">Empleado2</option>
                            <option value="Empleado3">Empleado3</option>
                        </select>
                    </div>
                    <div class="col-6 form-control-label">
                        <label for="FechaRegistro" class="form-control-label">Fecha de realización:</label>
                        <input type="date" id="FechaRegistro" placeholder="Ej. 99/99/9999" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="MontoPedido" class="form-control-label">Monto a pagar:</label>
                        <input type="number" id="MontoPedido" placeholder="$000.00MXN" class="form-control">
                    </div>
                    <div class="col-4">
                            <label for="MontoAnticipo" class="form-control-label">Anticipo:</label>
                            <input type="number" id="MontoPedido" placeholder="$000.00MXN" class="form-control">
                    </div>
                    <div class="col-8 btn-derecha btn-centrado">
                        <button type="button" class="btn btn-danger btn-cancelar-aceptar" (click)="showModalCancelar=true" data-toggle="modal" data-target="#cancelarModal">Cancelar</button>
                        <button type="button" class="btn btn-success btn-cancelar-aceptar" (click)="showModalAceptar=true" data-toggle="modal" data-target="#aceptarModal">Aceptar</button>        
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                       ¿Desea cancelar el registro?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No" (click)="showModalCancelar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí" onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Aceptar-->
    <div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                       ¡El pedido se ha registrado con éxito!
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" value="Continuar" onclick="location.href='./index.html';">
                </div>
            </div>
        </div>
    </div> 
</body>
</html>