<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>Inscribir Alumno</title>
    <meta name="description" content="Inscribir alumno">
      
    <!--Importar estilo-->
</head>
<body>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><strong>Inscribir Alumno</strong></div>
            <div class="card-body card-block">
            <h4>Datos personales</h4>
            <div class="row form-group">
                <div class=" col-12">
                    <label for="Nombre" class="form-control-label">Nombre</label><input [(ngModel)]="persona.NombreP" type="text" id="NombreP" placeholder="Nombre" class="form-control">
                </div>
                <div class="col-6">                
                    <label for="ApellidoPa" class="form-control-label">Apellido Paterno</label><input [(ngModel)]="persona.ApellidoPa" type="text" id="ApellidoPa" placeholder="Apellido Paterno" class="form-control">
                </div>
                <div class="col-6">
                    <label for="ApellidoMa" class="form-control-label">Apellido Materno</label><input [(ngModel)]="persona.ApellidoMa" type="text" id="ApellidoMa" placeholder="Apellido Materno" class="form-control">                
                </div>
                <div class="col-8">
                    <label for="CURP" class="form-control-label">CURP</label><input [(ngModel)]="alumnos.CURP" type="text" id="CURP" placeholder="CURP" class="form-control">                
                    <label for="Edad" class="form-control-label">Es mayor de edad:   <input type="checkbox">  Sí</label>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4 form-control-label">
                    <label>Disciplina 1</label>
                    <select [(ngModel)]="disciplinas.NombreDiciplina" class="form-control" id="Disciplina" name="Disciplina" required>
                        <option value="" selected disabled>Disciplina 1</option>
                        <option value="Aikids">Aikido Niños</option>
                        <option value="Aikad">Aikido adultos </option>
                        <option value="Baile">Baile</option>
                        <option value="Gimnasia">Gimnasia</option>
                        <option value="TKD">Tae Kwon Do</option>
                        <option value="Danza">Danza</option>
                        <option value="Calis">Calistenia</option>
                        <option value="Acfisic">Acondicionamiento físico</option>
                    </select>
                </div>
                <div class="col-4 form-control-label">
                    <label>Disciplina 2</label>
                    <select [(ngModel)]="disciplinas.NombreDiciplina" class="form-control" id="Disciplina" name="Disciplina" required>
                        <option value="" selected disabled>Disciplina 2</option>
                        <option value="Aikids">Aikido Niños</option>
                        <option value="Aikad">Aikido adultos </option>
                        <option value="Baile">Baile</option>
                        <option value="Gimnasia">Gimnasia</option>
                        <option value="TKD">Tae Kwon Do</option>
                        <option value="Danza">Danza</option>
                        <option value="Calis">Calistenia</option>
                        <option value="Acfisic">Acondicionamiento físico</option>
                    </select>        
                </div>
                <div class="col-4 form-control-label">
                    <label>Disciplina 3</label>
                    <select [(ngModel)]="disciplinas.NombreDiciplina" class="form-control" id="Disciplina" name="Disciplina" required>
                        <option value="" selected disabled>Disciplina 3</option>
                        <option value="Aikids">Aikido Niños</option>
                        <option value="Aikad">Aikido adultos </option>
                        <option value="Baile">Baile</option>
                        <option value="Gimnasia">Gimnasia</option>
                        <option value="TKD">Tae Kwon Do</option>
                        <option value="Danza">Danza</option>
                        <option value="Calis">Calistenia</option>
                        <option value="Acfisic">Acondicionamiento físico</option>
                    </select>        
                </div>    
                <div class="col-8">
                    <label for="Calle" class="form-control-label">Calle</label><input [(ngModel)]="persona.Calle" type="text" id="Calle" placeholder="Calle" class="form-control"> 
                </div>
                <div class="col-4">    
                    <label for="Numero" class=" form-control-label">Número</label><input [(ngModel)]="persona.Numero" type="text" id="Numero" placeholder="Número exterior" class="form-control">                           
                </div>
                <div class="col-8">
                    <label for="Colonia" class=" form-control-label">Colonia</label><input [(ngModel)]="persona.Colonia" type="text" id="Colonia" placeholder="Colonia" class="form-control">
                </div>
                <div class="col-4">
                    <label for="CP" class=" form-control-label">Código Postal</label><input [(ngModel)]="persona.CP" type="text" id="CP" placeholder="C.P." class="form-control">    
                </div>
                <div class="col-8">
                    <label for="Municipio" class=" form-control-label">Municipio</label><input [(ngModel)]="persona.Municipio" type="text" id="Municipio" placeholder="Municipio" class="form-control">
                </div>
                <div class="col-8">
                    <label for="FechaNacimiento" class=" form-control-label">Fecha de Nacimiento</label><input [(ngModel)]="persona.FechaNacimiento" type="date" id="FechaNacimiento" placeholder="Ej. 99/99/9999" class="form-control">    
                </div>
                <div class="col-8">
                    <label for="NombreTutor" class="form-control-label">Nombre del tutor</label><input [(ngModel)]="alumnos.NombreTutor" type="text" id="NombreTutor" placeholder="Tutor" class="form-control">                   
                </div>
                <div class="col-4"></div>
                <div class="col-4">    
                        <label for="NombrePapa" class="form-control-label">Nombre de papá</label><input [(ngModel)]="alumnos.NombrePapa" type="text" id="NombrePapa" placeholder="Papá" class="form-control">                   
                    </div>

                    <div class="col-4">
                        <label for="NombreMama" class="form-control-label">Nombre de mamá</label><input [(ngModel)]="alumnos.NombreMama" type="text" id="NombreMama" placeholder="Mamá" class="form-control">                   
                </div>
                <div class="col-4"></div>
                <div class="col-4">    
                    <label for="NumTelefono" class="form-control-label">Número de teléfono</label><input [(ngModel)]="telefonos.NumTelefono" type="text" id="NumTelefono" placeholder="555-555-5555" class="form-control">                   
                </div>
                <div class="col-4">
                    <label for="parentesco" class="form-control-label">Parentesco</label><input [(ngModel)]="telefonos.parentesco" type="text" id="parentesco" placeholder="Parentesco" class="form-control">                   
                </div>
                <div class="col-8">
                    <h1></h1>
                    <h4>Datos médicos</h4>
                    <label for="NumSeg" class="form-control-label">Número de seguro</label><input [(ngModel)]="persona.NumSeg" type="text" id="NumSeg" placeholder="NSS" class="form-control">
                </div>
                <div class="col-4">
                    
                </div>
                <div class="col-4">
                    <label for="Estatura" class="form-control-label">Estatura</label><input [(ngModel)]="alumnos.Estatura" type="text" id="Estatura" placeholder="cm" class="form-control">
                </div>
                <div class="col-4">
                        <label for="Peso" class="form-control-label">Peso</label><input [(ngModel)]="alumnos.Peso" type="text" id="Peso" placeholder="kg" class="form-control">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4 form-control-label">
                    <label>Tipo de sangre</label>
                    <select [(ngModel)]="alumnos.TipoSangre" class="form-control" id="TipoSangre" name="tiposangre" required>
                            <option value="" selected disabled>Tipo de sangre</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                    </select>        
                </div>
                <div class="col-4">
                    <label>Talla</label>
                    <select [(ngModel)]="alumnos.TallaAlum" class="form-control" id="TallaAlum" name="talla" required>
                        <option value="" selected disabled>Talla</option>
                        <option value="CH">CH</option>
                        <option value="M">M</option>
                        <option value="G">G</option>
                        <option value="XG">XG</option>
                    </select>  
                </div>
                <div class="col-4">

                </div>
                <div class="col-4">
                    <label for="TallaCintura" class="form-control-label">Talla de cintura</label><input [(ngModel)]="alumnos.TallaCintura" type="text" id="TallaCintura" placeholder="cm" class="form-control">                   
                </div>
                <div class="col-4">
                    <label>Descuentos</label>
                    <select  [(ngModel)]="alumnos.Descuentos_idDescuentos" class="form-control"  required>
                            <option *ngFor="let descuento of Descuento"  value="{{ descuento.idDescuentos }}">{{ descuento.NombreDescuento }}</option>
                    </select>
                </div>

                <div class="col-12 btn-derecha">
                    <button type="button" class="btn btn-danger btn-cancelar-aceptar" (click)="showModalCancelar=true" data-toggle="modal" data-target="#cancelarModal">Cancelar</button>
                    <button type="button" (click)=registro() class="btn btn-success btn-cancelar-aceptar" (click)="showModalAceptar=true" data-toggle="modal" data-target="#aceptarModal">Aceptar</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cancelar-->
    <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
            <div class="modal-dialog modal-sm" role="document">
      
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                            <span aria-hidden="true" data>&times;</span>
                        </button>
                        <p>
                           ¿Desea cancelar la inscripción?
                       </p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="No" (click)="showModalCancelar=false" data-dismiss="modal">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí" onclick="location.href='./index';">
                    </div>

                </div>
            </div>
        </div>
    <!-- Modal Aceptar-->
    <div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
        <div class="modal-dialog modal-sm" role="document">
  
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                       ¡Alumno inscrito!
                   </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" value="Continuar" onclick="location.href='./index.html';">
                </div>
            </div>
        </div>
    </div> 
     <!-- Modal Cancelar-->
     <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
        <div class="modal-dialog modal-sm" role="document">
  
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                       ¿Desea cancelar la operación?
                   </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No" (click)="showModalCancelar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí" onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
<!-- Modal Aceptar-->
<div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
    <div class="modal-dialog modal-sm" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>
                   ¡alumno agregado!
               </p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" data-dismiss="modal" value="Continuar" onclick="location.href='./index.html';">
            </div>
        </div>
    </div>
</div> 
</body>
</html>