<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Clases</title>
    <meta name="description" content="Crear nueva clases">

    <!--Importar estilo-->
</head>

<body>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><strong>Nueva Clase</strong></div>
            <div class="card-body card-block">
                <div class="form-group"><label for="Nombre" class=" form-control-label">Nombre</label><input type="text"
                        id="NombreClaseD" placeholder="Nombre de la nueva disciplina" class="form-control"></div>
                <div class="row form-group">
                    <div class="col -col-md-3"><label for="Area" class=" form-control-label"> Area</label></div>
                    <div class="col-12 col-md-13">
                        <select name="select" id="Areas_idAreas" class="form-control">
                            <option value="0">Selecciona la area</option>
                            <option value="1">area #1</option>
                            <option value="2">area #2</option>
                            <option value="3">area #3</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col -col-md-3"><label for="NomProf" class=" form-control-label"> Profesor</label></div>
                    <div class="col-12 col-md-13">
                        <select name="select" id="Profesores_idProfesores" class="form-control">
                            <option value="0">Selecciona el profesor</option>
                            <option value="1">Prof #1</option>
                            <option value="2">Prof #2</option>
                            <option value="3">Prof #3</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col -col-md-3"><label for="Horario" class=" form-control-label"> Horario</label></div>
                    <div class="col-12 col-md-13">
                        <select name="select" id="Horarios_idHorarios" class="form-control">
                            <option value="0">Selecciona el Horario</option>
                            <option value="1">Horario Disponible #1</option>
                            <option value="2">Horario Disponible #2</option>
                            <option value="3">Horario Disponible #3</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 btn-derecha">
                        <button type="button" class="btn btn-danger btn-cancelar-aceptar"
                            (click)="showModalCancelar=true" data-toggle="modal"
                            data-target="#cancelarModal">Cancelar</button>
                        <button type="button" class="btn btn-success btn-cancelar-aceptar"
                            (click)="showModalAceptar=true" data-toggle="modal"
                            data-target="#aceptarModal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cancelar-->
    <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
        <div class="modal-dialog modal-sm" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                        ¿Desea cancelar la operación?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No"
                        (click)="showModalCancelar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí"
                        onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Aceptar-->
    <div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
        <div class="modal-dialog modal-sm" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalAceptar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                        ¿Confirmar registro?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No"
                        (click)="showModalAceptar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Confirmar"
                        onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
</body>

</html>