<body>

    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href=""><i class="menu-icon fa fa-laptop"></i>Inicio</a>
                    </li>
                    <li class="menu-title">Administrativo</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa fa-user"></i>Alumnos</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-edit"></i><a [routerLink]="['/InscribiralumnoComponent']"
                                    routerLinkActive="router-link-active">Ver lista de alumnos</a></li>
                            <li><i class="fa fa-user"></i><a href="">Nuevo alumno</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-group"></i>Profesores</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-info"></i>Clases</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Disciplinas</a>
                    </li>

                    <li class="menu-title">Financiero</li><!-- /.menu-title -->
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-usd"></i>Nuevo ingreso</a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Pago de servicios</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Resumen mensual</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="" width="40px" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Buscar ..."
                                    aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                                <!--Consulta a base de datos-->
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">Tienes 3 notificaciones</p>
                                <!--Consulta a base de datos-->
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Roberto no ha pagado su mensualidad</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Fulana no ha cubierto el pago de su inscripción</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Pago de la luz por vencer</p>
                                </a>
                                <div class="">
                                    <button class="btn btn-success">Aceptar</button>
                                </div>
                                <!--Al dar clic debe borrar el numero en el icono de las notificaciones-->
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message">
                                <i class="fa fa-facebook-square"></i>
                            </button>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="instagram">
                                <i class="fa fa-instagram"></i>
                            </button>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="mail">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <p> Sebastián Hernández García </p>
                            <img class="user-avatar rounded-circle" src="" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Mi Perfil</a>

                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notificaciones <span
                                    class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Ajustes</a>

                            <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Cerrar Sesión</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    <!--Inscribir alumno-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-flat-color-3">
                            <div class="card-body">
                                <div class="card-left pt-1 float-left">
                                    <h3 class="mb-0 fw-r">Inscribir alumno</h3>
                                </div><!-- /.card-left -->
                                <div class="card-right float-right text-right">
                                    <i class="icon fade-5 icon-lg pe-7s-users"></i>
                                </div><!-- /.card-right -->
                            </div>
                        </div>
                    </div>
                    <!--Recibir un pago-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-flat-color-1" >
                            <div class="card-body">
                                <div class="card-left pt-1 float-left">
                                    <h3 class="mb-0 fw-r">Recibir Pago</h3>

                                </div><!-- /.card-left -->

                                <div class="card-right float-right text-right">
                                    <i class="icon fade-5 icon-lg pe-7s-cash"></i>
                                </div><!-- /.card-right -->
                            </div>
                        </div>
                    </div>
                    <!--Pago de servicios-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-red">
                            <div class="card-body">
                                <div class="card-left pt-1 float-left">
                                    <h3 class="mb-0 fw-r">Pago de servicios</h3>
                                </div><!-- /.card-left -->

                                <div class="card-right float-right text-right">
                                    <i class="icon fade-5 icon-lg pe-7s-cart"></i>
                                </div><!-- /.card-right -->

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-flat-color-2">
                            <div class="card-body">
                                <div class="card-left pt-1 float-left">
                                    <h3 class="mb-0 fw-r">Lista de alumnos</h3>
                                </div><!-- /.card-left -->
                                <div class="card-right float-right text-right">
                                    <i class="icon fade-5 icon-lg pe-7s-user"></i>
                                </div><!-- /.card-right -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Widgets -->

                <!--Semanal-->
                <div class="semanal">

                    <div class="row">
                        <div class="card">
                            <div class="card-body-- bg-flat-color-1">
                                <h4 class="box-title">Esta semana</h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Disciplina</th>
                                                <th>Mensualidad</th>
                                                <th>Estátus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td> CDK001 </td>
                                                <td> <span class="name">Jorge Luis Aparicio</span> </td>
                                                <td> <span class="product">Gimnasia</span> </td>
                                                <td><span class="count">380</span></td>
                                                <td>
                                                    <span class="badge badge-complete">Cubierto</span>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>CDK002</td>
                                                <td><span class="name">Ricardo García Cruz</span> </td>
                                                <td><span class="product">Aikido</span> </td>
                                                <td><span class="count">380</span></td>
                                                <td>
                                                    <span class="badge badge-pending">Pendiente</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CDK003 </td>
                                                <td><span class="name">Aaron Rocha Rocha</span> </td>
                                                <td><span class="product">Acondicionamiento físico</span> </td>
                                                <td><span class="count">350</span></td>
                                                <td>
                                                    <span class="badge badge-pending">Pendiente</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CDK004 </td>
                                                <td><span class="name">Renata Fulana Perez</span> </td>
                                                <td><span class="product">Estimulación Psicomotriz</span> </td>
                                                <td><span class="count">300</span></td>
                                                <td>
                                                    <span class="badge badge-complete">Cubierto</span>
                                                </td>
                                            </tr>
                                            <tr class=" pb-0">
                                                <td>CDK005 </td>
                                                <td><span class="name">Sutanito Garcia</span> </td>
                                                <td><span class="product">Tae Kwon Do</span> </td>
                                                <td><span class="count">380</span></td>
                                                <td>
                                                    <span class="badge badge-pending">Pendiente</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                        
                        <div class="col-lg-5">
                            <div class="card">
                                <div class="card-body-- bg-flat-color-3">
                                    <h2 class="box-title">Calendario Widget</h2>
                                </div>
                                <div class="card-body">
                                    <div class="calender-cont widget-calender">
                                        <div id="calendar"></div>
                                    </div>
                                </div>
                            </div><!-- /.card -->
                        </div>
                    </div>
                </div>
                <!-- /.Deudores -->

                <!-- Deudores -->
                <div class="deudores">

                    <div class="row">
                        <div class="card">
                            <div class="card-body-- bg-flat-color-6">
                                <h2 class="box-title">Deudores</h2>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Disciplina</th>
                                                <th>Mensualidad</th>
                                                <th>Estátus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>

                                                <td>CDK002</td>
                                                <td><span class="name">Ricardo García Cruz</span> </td>
                                                <td><span class="product">Aikido</span> </td>
                                                <td><span class="count">380</span></td>
                                                <td>
                                                    <span class="badge badge-pending">Pendiente</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CDK003 </td>
                                                <td><span class="name">Aaron Rocha Rocha</span> </td>
                                                <td><span class="product">Acondicionamiento físico</span> </td>
                                                <td><span class="count">350</span></td>
                                                <td>
                                                    <span class="badge badge-pending">Pendiente</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class=" pb-0">
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                        <div class="col-lg-5">
                            <div class="card">
                                <div class="card-body--">
                                    <div class="card-body-- bg-red">
                                        <h2 class="box-title">Lista de tareas</h2>
                                    </div>
                                    <div class="card-content">
                                        <div class="todo-list">
                                            <div class="tdl-holder">
                                                <div class="tdl-content">
                                                    <ul>
                                                        <li>
                                                            <label>
                                                                <input type="checkbox"><i
                                                                    class="check-box"></i><span>Crear publicidad</span>
                                                                <a href='#' class="fa fa-times"></a>
                                                                <a href='#' class="fa fa-pencil"></a>
                                                                <a href='#' class="fa fa-check"></a>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label>
                                                                <input type="checkbox"><i
                                                                    class="check-box"></i><span>Colgar poster</span>
                                                                <a href='#' class="fa fa-times"></a>
                                                                <a href='#' class="fa fa-pencil"></a>
                                                                <a href='#' class="fa fa-check"></a>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label>
                                                                <input type="checkbox" checked><i
                                                                    class="check-box"></i><span>Limpiar cochera</span>
                                                                <a href='#' class="fa fa-times"></a>
                                                                <a href='#' class="fa fa-pencil"></a>
                                                                <a href='#' class="fa fa-check"></a>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> <!-- /.todo-list -->
                                    </div>
                                </div> <!-- /.card-body -->
                            </div><!-- /.card -->
                        </div>                       
                    </div>
                </div>
                <!-- /.Deudores -->
                <!-- Lista de tareas -->
                
                    


                
                <!-- /To Do and Live Chat -->




            </div>
            <!-- /Calender Chart Weather -->
            <!-- Modal - Calendar - Add New Event -->
            <div class="modal fade none-border" id="event-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>Agregar evento</strong></h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect"
                                data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-success save-event waves-effect waves-light">Crear
                                evento</button>
                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light"
                                data-dismiss="modal">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- Modal - Calendar - Add Category -->
            <div class="modal fade none-border" id="add-category">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>Agregar categoría</strong></h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Nombre de la categoría</label>
                                        <input class="form-control form-white" placeholder="Enter name" type="text"
                                            name="category-name" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Elegir color de categoría</label>
                                        <select class="form-control form-white" data-placeholder="Choose a color..."
                                            name="category-color">
                                            <option value="success">Success</option>
                                            <option value="danger">Danger</option>
                                            <option value="info">Info</option>
                                            <option value="pink">Pink</option>
                                            <option value="primary">Primary</option>
                                            <option value="warning">Warning</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect"
                                data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-danger waves-effect waves-light save-category"
                                data-dismiss="modal">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#add-category -->
        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->


</body>
<!-- Footer -->
<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy;
            </div>
            <div class="col-sm-6 text-right">

            </div>
        </div>
    </div>
</footer>
<!-- /.site-footer -->
<!-- /#right-panel -->