<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href=""><i class="menu-icon fa fa-laptop"></i>Inicio</a>
                    </li>
                    <li class="menu-title">Administrativo</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-user"></i>Alumnos</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-edit"></i><a [routerLink]="['/InscribiralumnoComponent']"
                                    routerLinkActive="router-link-active">Ver lista de alumnos</a></li>
                            <li><i class="fa fa-user"></i><a href="">Nuevo alumno</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-group"></i>Profesores</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-info"></i>Clases</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Disciplinas</a>
                    </li>

                    <li class="menu-title">Financiero</li><!-- /.menu-title -->

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-usd"></i>Nuevo ingreso</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Pago de servicios</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Resumen mensual</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="" width="40px" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Buscar ..."
                                    aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                                <!--Consulta a base de datos-->
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">Tienes 3 notificaciones</p>
                                <!--Consulta a base de datos-->
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Roberto no ha pagado su mensualidad</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Fulana no ha cubierto el pago de su inscripción</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Pago de la luz por vencer</p>
                                </a>
                                <div class="">
                                    <button class="btn btn-success">Aceptar</button>
                                </div>
                                <!--Al dar clic debe borrar el numero en el icono de las notificaciones-->
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message">
                                <i class="fa fa-facebook-square"></i>
                            </button>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="instagram">
                                <i class="fa fa-instagram"></i>
                            </button>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="mail">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <p> Sebastián Hernández García </p>
                            <img class="user-avatar rounded-circle" src="" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Mi Perfil</a>

                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notificaciones <span
                                    class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Ajustes</a>

                            <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Cerrar Sesión</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="card col-lg-6">
                    <div class="card-header" id="header-pago">
                        <strong class="card-title">Nuevo ingreso</strong>
                    </div>
                    <div class="card-body card-block">
                        <div>
                            <label for="cc-name" class="control-label mb-1">Fecha</label>
                            <input id="cc-name" name="cc-name" type="date" class="form-control cc-name valid"
                                data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name"
                                aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                data-valmsg-replace="true"></span>
                        </div>
                        <div>
                            <div><label for="select" class=" form-control-label"></label>Selecciona el tipo de ingreso
                            </div>
                            <div>
                                <select name="select" id="select" class="form-control">
                                    <option value="inscripcion">Inscripción</option>
                                    <option value="mensualidad">Mensualidad</option>
                                    <option value="visita">Visita</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div><label for="textarea-input" class=" form-control-label">Descripción</label></div>
                            <div><textarea name="textarea-input" id="textarea-input" rows="3"
                                    class="form-control"></textarea></div>
                        </div>

                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Monto a recibir</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                                    <input type="text" id="payment-amount" name="payment" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="button" id="btn-can" data-toggle="modal" data-target="#cancel-modal"
                                class="btn btn-lg btn-danger btn-block col-lg-4">
                                <span id="span-payment-button">Cancelar</span>
                            </button>
                            <button type="button" id="btn-pay"
                                class="btn btn-lg btn-success btn-block col-lg-4" data-toggle="modal"
                                data-target="#accept-modal">
                                <span id="span-payment-button">Cobrar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Aceptar pago -->
            <div class="modal fade none-border" id="accept-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>¿Proceder con el cobro?</strong></h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" id="btn-cancel"
                                class="btn btn-lg btn-danger btn-block col-lg-4" data-dismiss="modal">
                                <span id="span-payment-button-cancel">Corregir </span>
                                <span id="payment-button-cancelling" style="display:none;">Cancelando</span>
                                <i class="fa fa-times fa-lg"></i>&nbsp;
                            </button>
                            <button type="button" id="btn-payment"
                                class="btn btn-lg btn-success btn-block col-lg-4">                                
                                <span id="span-payment-button-amount">Aceptar </span>
                                <span id="payment-button-sending" style="display:none;">Cobrando…</span>
                                <i class="fa fa-check fa-lg"></i>&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal cancelar pago -->
            <div class="modal fade none-border" id="cancel-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>¿Cancelar cobro?</strong></h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" id="btn-cancel"
                                class="btn btn-lg btn-danger btn-block col-lg-2" data-dismiss="modal">
                                <span id="span-payment-button-cancel">No</span>
                            </button>
                            <button type="button" id="btn-payment"
                                class="btn btn-lg btn-success btn-block col-lg-2">                                
                                <span id="span-payment-button-amount">Si</span>                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- /#right-panel -->
</body>
<!-- Footer -->
<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy;
            </div>
            <div class="col-sm-6 text-right">

            </div>
        </div>
    </div>
</footer>
<!-- /.site-footer -->