<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>Nueva Area</title>
    <meta name="description" content="Nueva Area">
      
    <!--Importar estilo-->
</head>
<body>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><strong>Nueva Area</strong></div>
            <div class="card-body card-block">
                <div class="form-group"><label for="CapacidadDePersonas" class=" form-control-label">Capacidad de personas</label><input type="text" id="CapacidadDePersonas" placeholder="Ingresa el número de personas" class="form-control"></div>
                <div class="form-group"><label for="TipoPiso" class=" form-control-label">Tipo de piso</label><input type="text" id="TipoPiso" placeholder="¿Qué tipo de piso es?" class="form-control"></div>
                <div class="form-group"><label for="NombreArea" class=" form-control-label">Nombre de la area</label><input type="text" id="NombreArea" placeholder="Nombre" class="form-control"></div>
                <div class="row form-group"> 
                <div class="col-12 btn-derecha">
                    <button type="button" class="btn btn-danger btn-cancelar-aceptar">Cancelar</button>
                    <button type="button" class="btn btn-success btn-cancelar-aceptar">Aceptar</button>
                </div>        
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cancelar-->
    <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
        <div class="modal-dialog modal-sm" role="document">
  
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                       ¿Desea cancelar la operación?
                   </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No" (click)="showModalCancelar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí" onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
<!-- Modal Aceptar-->
<div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
    <div class="modal-dialog modal-sm" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>
                   ¡area creada!
               </p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" data-dismiss="modal" value="Continuar" onclick="location.href='./index.html';">
            </div>
        </div>
    </div>
</div> 
</body>

</html>
