<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Horario</title>
    <meta name="description" content="Crear Horario">

    <!--Importar estilo-->
</head>

<body>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><strong>Crear Horario</strong></div>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col-6">
                        <label for="NombreHorario" class="form-control-label">Nombre horario:</label>
                        <input type="text" id="NombreHorario" class="form-control"
                            placeholder="Ej. Aikido niños, Baile matutino.">
                    </div>
                    <div class="col-3">
                        <label for="HoraClaseInicio" class="form-control-label">Hora de Inicio:</label>
                        <input type="time" id="HoraClaseInicio" class="form-control">
                    </div>
                    <div class="col-3">
                        <label for="HoraClaseTermino" class="form-control-label">Hora de Término:</label>
                        <input type="time" id="HoraClaseTermino" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="DiasClase" class=" form-control-label">Seleccione los días:</label>
                    <div class="form-check-inline form-check">
                        <label for="inline-checkbox1" class="form-check-label">
                            <input type="checkbox" id="Lunes" name="inline-checkbox1" value="option1"
                                class="form-check-input">Lunes
                        </label>
                        <label for="inline-checkbox1" class="form-check-label">
                            <input type="checkbox" id="Martes" name="inline-checkbox1" value="option2"
                                class="form-check-input">Martes
                        </label>
                        <label for="inline-checkbox1" class="form-check-label">
                            <input type="checkbox" id="Miercoles" name="inline-checkbox1" value="option3"
                                class="form-check-input">Miércoles
                        </label>
                        <label for="inline-checkbox1" class="form-check-label">
                            <input type="checkbox" id="Jueves" name="inline-checkbox1" value="option4"
                                class="form-check-input">Jueves
                        </label>
                        <label for="inline-checkbox1" class="form-check-label">
                            <input type="checkbox" id="Viernes" name="inline-checkbox1" value="option5"
                                class="form-check-input">Viernes
                        </label>
                        <label for="inline-checkbox1" class="form-check-label">
                            <input type="checkbox" id="Sabado" name="inline-checkbox1" value="option6"
                                class="form-check-input">Sábado
                        </label>
                        <label for="inline-checkbox1" class="form-check-label">
                            <input type="checkbox" id="Domingo" name="inline-checkbox1" value="option7"
                                class="form-check-input">Domingo
                        </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12"><label for="NomProf" class=" form-control-label"> Profesor</label></div>
                    <div class="col-12">
                        <select name="select" id="Profesores_idProfesores" class="form-control">
                            <option value="0">Selecciona el profesor</option>
                            <option value="1">Profesor #1</option>
                            <option value="2">Profesor #2</option>
                            <option value="3">Profesor #3</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 btn-derecha">
                        <button type="button" class="btn btn-danger btn-cancelar-aceptar"
                            (click)="showModalCancelar=true" data-toggle="modal"
                            data-target="#cancelarModal">Cancelar</button>
                        <button type="button" class="btn btn-success btn-cancelar-aceptar"
                            (click)="showModalAceptar=true" data-toggle="modal"
                            data-target="#aceptarModal">Aceptar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cancelar-->
    <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
        <div class="modal-dialog modal-sm" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                        ¿Desea cancelar la operación?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No"
                        (click)="showModalCancelar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí"
                        onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Aceptar-->
    <div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
        <div class="modal-dialog modal-sm" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalAceptar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                        ¿Confirmar registro?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No"
                        (click)="showModalAceptar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Confirmar"
                        onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
</body>

</html>