<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="UTF-8">
    <title>Crear descuento</title>
    <meta name="description" content="Crear descuento">
</head>
<body>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><strong>Crear tipo de descuento</strong></div>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col-12">
                        <label for="NombreDescuento" class="form-control-label">Nombre</label>
                        <input [(ngModel)]="descuento.NombreDescuento" type="text" id="NombreDescuento" class="form-control" placeholder="Escriba el nombre del descuento">
                    </div>
                    <div class="col-12">
                        <label for="DescripcionDescuento" class="form-control-label">Descripción</label>
                        <input [(ngModel)]="descuento.DescripcionDescuento" type="text" id="DescripcionDescuento" class="form-control" placeholder="Agregue una breve descripción">
                    </div>
                    <div class="col-4">
                        <label for="CantidadDescuento" class="form-control-label">Cantidad</label>
                        <input [(ngModel)]="descuento.CantidadDescuento" type="text" id="CantidadDescuento" class="form-control" placeholder="Monto o porcentaje">
                    </div>
                    <div class="col-8 btn-derecha btn-centrado"> 
                        <button type="button" class="btn btn-danger btn-cancelar-aceptar" (click)="showModalCancelar=true" data-toggle="modal" data-target="#cancelarModal">Cancelar</button>
                        <button type="button" class="btn btn-success btn-cancelar-aceptar" (click)="crearDesc()" data-toggle="modal" data-target="#aceptarModal">Guardar</button>
                    </div>  
                </div>
            </div>    
        </div>
    </div>
    <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                       ¿Desea salir de la página?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No" (click)="showModalCancelar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí" onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Aceptar-->
    <div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                       ¡Los datos han sido guardados con éxito!
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" value="Continuar" onclick="location.href='./index.html';">
                </div>
            </div>
        </div>
    </div> 
</body>
</html>
