<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Disciplina</title>
    <meta name="description" content="Crear nueva disciplina">

    <!--Importar estilo-->
</head>

<body>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><strong>Nueva Disciplina</strong></div>
            <div class="card-body card-block">
                <div class="form-group">
                    <label for="NombreDisc" class=" form-control-label">Nombre</label><input type="text"
                        id="NombreDiciplina" placeholder="Nombre de la nueva disciplina" class="form-control">
                </div>
                <div class="row form-group">
                    <div class="col-12 btn-derecha">
                        <button type="button" class="btn btn-danger btn-cancelar-aceptar"
                            (click)="showModalCancelar=true" data-toggle="modal"
                            data-target="#cancelarModal">Cancelar</button>
                        <button type="button" class="btn btn-success btn-cancelar-aceptar"
                            (click)="showModalAceptar=true" data-toggle="modal"
                            data-target="#aceptarModal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cancelar-->
    <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                        ¿Desea cancelar la operación?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No"
                        (click)="showModalCancelar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí"
                        onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Aceptar-->
    <div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalAceptar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                        ¿Confirmar registro?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No"
                        (click)="showModalAceptar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Confirmar"
                        onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
</body>

</html>