
<a [routerLink] = "['/login']" routerLinkActive = "router-link-active" > Login window </a>
<a [routerLink] = "['/amayores']" routerLinkActive = "router-link-active" > Alumnos mayores </a>
<a [routerLink] = "['/descuentos']" routerLinkActive = "router-link-active" > Descuentos </a>
<a [routerLink] = "['/registrar-nomina']" routerLinkActive = "router-link-active"> Registrar nómina</a>
<a [routerLink] = "['/nuevo-pedido']" routerLinkActive = "router-link-active"> Nuevo pedido</a>
<a [routerLink]="['/disciplinas']" routerLinkActive="router-link-active" > Disciplinas </a>
<a [routerLink]="['/tabladisciplinas']" routerLinkActive="router-link-active" > Tabla Disciplinas </a>
<a [routerLink]="['/clases']" routerLinkActive="router-link-active" > Clases </a>
<a [routerLink]="['/tablaclases']" routerLinkActive="router-link-active" > Tabla Clases </a>
<a [routerLink]="['/horarios']" routerLinkActive="router-link-active" > Horarios </a>
<a [routerLink]="['/tablahorarios']" routerLinkActive="router-link-active" > Tabla Horarios </a>
<a [routerLink]="['/telefonos']" routerLinkActive="router-link-active" > Teléfonos </a>
<a [routerLink]="['/tablatelefonos']" routerLinkActive="router-link-active" > Tabla Teléfonos </a>
<a [routerLink]="['/tablareportes']" routerLinkActive="router-link-active" > Tabla Reportes </a>
<a [routerLink]="['/tablapersonas']" routerLinkActive="router-link-active" > Tabla Personas </a>
<a [routerLink]="['/tablanominas']" routerLinkActive="router-link-active" > Tabla Nómina </a>
<a [routerLink]="['/tablataekwondo']" routerLinkActive="router-link-active" > Tabla Taekwondo </a>
<a [routerLink]="['/tablagimnasia']" routerLinkActive="router-link-active" > Tabla Gimnasia </a>
<a [routerLink]="['/tablabailemoderno']" routerLinkActive="router-link-active" > Tabla Baile Moderno </a>
<a [routerLink]="['/tablaaikido']" routerLinkActive="router-link-active" > Tabla Aikido </a>
<a [routerLink]="['/tablacalistenia']" routerLinkActive="router-link-active" > Tabla Calistenia </a>
<a [routerLink]="['/areas']" routerLinkActive="router-link-active" > Areas </a>
<a [routerLink]="['/tablaareas']" routerLinkActive="router-link-active" > Tablas Areas </a>
<a [routerLink]="['/descuentos']" routerLinkActive="router-link-active" > Descuentos </a>
<a [routerLink]="['/tabladescuentos']" routerLinkActive="router-link-active" > Tabla Descuentos </a>
<a [routerLink]="['/tablaempleados']" routerLinkActive="router-link-active" > Tabla Empleados </a>
<a [routerLink]="['/tablaalumnos']" routerLinkActive="router-link-active" > Tabla Alumnos </a>
<a [routerLink]="['/infocostos']" routerLinkActive="router-link-active" > Costos </a>


<ng-container *ngIf="!authService.loggedIn(); else loggedIn">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">SignIn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup" routerLinkActive="active">SignUp</a>
    </li>
  </ng-container>
  <ng-template #loggedIn>
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Logout</a>
    </li>
  </ng-template> 
<router-outlet></router-outlet>