<html class="no-js" lang>
<head>
    <title>Login</title>
</head>
<body class="bg-gray small-device">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <img class="align-content" src="images/logo.png" alt>
                </div>
                <div class="login-form">
                    <form (submit)="signIn()">
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="text" class="form-control" placeholder="Nombre de Usuario" [(ngModel)]='user.Nombre' name="first"> 
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]='user.Contrasena' [ngModelOptions]="{standalone: true}">
                        </div>
                        <input type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" value="Entrar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<!--<h2>Usuario: {{ datos.username }}</h2>
<h2>Password: {{ datos.password }}</h2> -->

