<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="UTF-8">
    <title>Registro de nómina</title>
    <meta name="description" content="Registrar nómina">
</head>
<body>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header"><strong>Registrar pago de nómina</strong></div>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col-6 form-control-label">
                        <label for="NombreEmpleado" class="form-control-label">Nombre de empleado</label>
                        <select class="form-control">
                            <option value="" selected disabled>Empleado</option>
                            <option value="Empleado1">Empleado1</option>
                            <option value="Empleado2">Empleado2</option>
                            <option value="Empleado3">Empleado3</option>
                            <option value="Empleado4">Empleado4</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="Monto" class="form-control-label">Monto a pagar</label>
                        <input type="number" id="MontoNomina" placeholder="$000.00MXN" class="form-control">
                    </div>
                    <div class="col-10 btn-derecha btn-centrado">
                        <button type="button" class="btn btn-danger btn-cancelar-aceptar" (click)="showModalCancelar=true" data-toggle="modal" data-target="#cancelarModal">Cancelar</button>
                        <button type="button" class="btn btn-success btn-cancelar-aceptar" (click)="showModalAceptar=true" data-toggle="modal" data-target="#aceptarModal">Aceptar</button>        
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div id="cancelarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalCancelar}">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="showModalCancelar=false" data-dismiss="modal">
                        <span aria-hidden="true" data>&times;</span>
                    </button>
                    <p>
                       ¿Desea cancelar el registro?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="No" (click)="showModalCancelar=false" data-dismiss="modal">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Sí" onclick="location.href='./index';">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Aceptar-->
    <div id="aceptarModal" class="modal fade" role="dialog" [ngClass]="{'show':showModalAceptar}">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                       ¡El registro se ha realizado con éxito!
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" value="Continuar" onclick="location.href='./index.html';">
                </div>
            </div>
        </div>
    </div> 
</body>
</html>